<p class="flash"><%= flash[:create] %></p>

<p class="flash"><%= flash[:update] %></p>

<p class="show">
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p class="show">
  <strong>Body:</strong>
  <%= @book.body %>
</p>

  <p>
    <%= link_to "Edit", edit_book_path(@book.id) , class: 'cursor' %>
    |
    <a class="link" href="/books" class="cursor">Back</a>
  </p>